<div id="annual-wise">
    <h3 id="annual-title"> Annual sales by products </h3>
    <yearly-stacked></yearly-stacked>
</div>

<!-- <div id="quarter-wise">
    <h3 id="quarter-title"> Quarterly sales by products</h3>
    <quartely-stacked></quartely-stacked>
    <div id="quarterly-stack-group-chart"></div>
</div> -->
<!-- <div id="quarter-wise">
    <span id="close" class="pull-right">&times;</span>
    <h3 class="title"> Quarterly sales by products </h3>
    <div id="quartly-stack-group-chart"></div>
</div>
<div id="heat-maps">
</div>
 -->
