/******* A N I M A T I O N ********/

div[ui-view].ng-enter {
    -webkit-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
}

div[ui-view].ng-leave {
    -webkit-animation: fadeOutRight 1s;
    animation: fadeOutRight 1s;
}

.active {
    background: #73b0c2;
}


/******* N A V B A R ******/

.navbar {
    padding: 0;
    margin: 0;
    height: 87px;
}

.navbar-header {
    height: 87px;
    display: inline-block;
}

.navbar-default {
    background-color: #fff;
    border: none;
    /*border-color: #e7e7e7;*/
}

.navbar-brand {
    padding: 0;
}

#main-title {
    height: 39px;
    margin-left: 8px;
    margin-top: 26px;
    display: inline-block;
    margin-bottom: 26px;
    /*width: 628px;*/
    /*font-family: HelveticaNeue-Thin;*/
}

#main-title>p {
    font-size: 32px;
    letter-spacing: 1.4px;
    color: #595959;
}

#dropdown-menu {
    display: inline-block;
    float: right;
    margin-top: 2.6em;
    margin-right: 7em;
}

#dropdown-menu label {
    margin-left: 1em;
    letter-spacing: 1.5px;
    font-size: 12px;
    color: #626262;
}

.hide {
    display: none;
}

.disable-click {
    pointer-events: none;
}


/****** B O D Y *****/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#loader-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#loader {
    background-image: url('../assets/ripple.gif');
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1050;
    background-size: cover;
}

#backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}


/***********  D A S H B O A R D  **************/

#gridster-charts .dc-chart {
    float: none;
}

#gridster-charts #bubble-chart ~p.title {
    display: inline-block;
}

#gridster-charts #legends {
    display: inline-block;
}

#gridster-charts li {
    cursor: move;
    /*text-align: center;*/
}

#dash-stackChart,
#world-map,
#bubble-chart,
#line-chart {
    text-align: center;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    /*width: 120px;*/
}

.caption {
    display: block;
}

#gridster-charts .title {
    font-size: 18px;
    letter-spacing: 2.3px;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-top: 25px;
    margin-left: 38px;
}

#sidebar {
    background: #4d8295;
    width: 120px;
    height: 1200px;
    float: left;
}

#sidebar ul>li {
    padding: 22px 0;
    border-bottom: 2px solid rgba(49, 49, 49, 0.2);
    /*height: 78px;*/
}

#content {
    display: inline-block;
    background: #77b5c7;
    border-bottom: 2px solid rgba(49, 49, 49, 0.2);
    width: 1174px;
    height: 1200px;
}

#annual-title {
    margin-left: 38px;
    margin-top: 185px;
    font-size: 18px;
    letter-spacing: 2.3px;
    color: #fff;
}

#annual-stack-group-chart,
#quarter-stack-group-chart {
    margin-left: 38px;
}

#annual-wise,
#sb-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#sb-container > #quartely-stack-chart {
    height: 418px;
    width: 590px;
}

#sb-container > #quartely-bubble-chart {
    height: 418px;
    width: 570px;
}

#sb-container #quarter-title,
#bubble-title {
    margin-top: 25px;
    margin-left: 38px;
    font-size: 18px;
    letter-spacing: 2.3px;
    color: #fff;
}

#quarter-title {
    display: inline-block;
}

#sb-container div {
    float: left;
}

#sb-container:after {
    content: "";
    display: table;
    clear: both;
}

#heat-map {
    margin-top: 10px;
    width: 400px;
    margin-left: 37%;
}

#close {
    display: inline-block;
    margin-top: 23px;
    color: #fff;
    float: right;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    padding-top: 1px;
    margin-right: 28.3px;
}


/*****************CHARTS****************/

#line-chart g.y line,
path {
    /*display: none;*/
}

.axis path,
.axis line {
    fill: none;
    /*stroke: #000;*/
    shape-rendering: crispEdges;
}

text {
    fill: #000;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

div#nationchart .x.axis path {
    display: block;
}
